//CSS for the dashboard page
  .sort-button {
    cursor: pointer;
    font-size: 0.8rem;
    user-select: none;
    margin-left: 6px;
    color: #ddd;
	display: inline-block;
    padding: 2px 4px;
  }
  .sort-button.active {
    color: #fff;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
